[Unit]
Description=Docker Volume Driver for BTRFS volumes
Documentation=man:docker-btrfs-plugin(8)
Requires=docker-btrfs-plugin.socket
Before=docker.service

[Service]
ExecStart=/usr/libexec/docker/docker-btrfs-plugin
Restart=on-failure
Type=simple
User=root

[Install]
WantedBy=multi-user.target
